body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: #1e1e1e;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #e0e0e0;
}

#main-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-panel {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.button-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5px 0;
}

button {
    padding: 8px 12px;
    margin: 3px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 4px;
    background: #2c2c2c;
    color: #e0e0e0;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

#move-history {
    margin: 10px 0;
    height: 300px;
    overflow-y: auto;
    border: 1px solid #666;
    background: #2c2c2c;
    color: #e0e0e0;
}

.move-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #e0e0e0;
}

.move-table td {
    padding: 4px 8px;
    border: 1px solid #666;
}

.light-row {
    background-color: #333;
}

.move-table tr:nth-child(even) {
    background-color: #2c2c2c;
}

.current-move td {
    outline: 2px solid yellow;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.square.highlight::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.square.white {
    background: #eee;
}

.square.black {
    background: #2a6b3c;
}

.selected {
    outline: 3px solid yellow;
}

#promotion-overlay {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;

    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

#promotion-overlay p {
    color: #e0e0e0;
    margin-bottom: 10px;
}

#promotion-overlay button {
    font-size: 30px;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #444;
    color: inherit;
    transition: 0.2s;
}

#promotion-overlay button:hover {
    background: #666;
}

.game-status {
    color: #e0e0e0;
    font-size: 1.2rem;
    margin: 5px 0;
    display: none;
}

.current-move {
    outline: 2px solid yellow;
}